body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
#title{
    color: white;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}
.navbar a:hover {
    color: #ff9800;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
}

p {
    list-style: disc;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
footer {
    background-color: #333;
    height: 50px;
    bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
#cr{
    margin-top: 10px;
    color: white;
    text-align: center;
}